
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.bg-color{

    background-color: black;
}

.bg-color a{
    color: white;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
    
}

nav ul li a {
    color: white;
    text-decoration: none;

}

h1, h2 {
    font-family: "Rubik", sans-serif;
}

body{
    background-color: rgba(31, 11, 11, 0.425);
    font-family: "Rubik", sans-serif;
}

img {
    height: auto;
    object-fit: cover;
    margin: 10px;
    display: block;
    width: 80%;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;

}

.sobrenosotros {
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;

    
}

p{
    font-size: 16px;
}

h1 a{
    text-align: center;
    font-size: 26px;
    letter-spacing: 1.5px;
}

section{
    
    display: flex;

    justify-content: space-around;
    flex-direction: row;
    
    
}

.titulos{
    text-align: center;
}

.carousel{
    display: flex;
    width: 40%;
    
    justify-content: space-around;
    
}

div div img {
    width: 80%;
    

}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 500px) {
    header {
        flex-direction: row;
        align-items: center;
    }
    main {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    section {
        flex-direction: column;
        align-items: center;
        
        width: 90%;
        
    
    }
    .carousel {
        
        width: 95%;
        flex-direction: column;
        margin: 0 auto;
        box-sizing: border-box;

        
    }
    .img_index{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        margin: 0 auto;
        box-sizing: border-box;

    }
    .img_index div {
        text-align: center;
    }
    .img_index img {
        
        height: auto;
        display: block;
        margin: 0 auto;
    }

        
    
}











    
