section{
    
    display: flex;

    justify-content: space-around;
    flex-direction: row;
    
    
}
.carousel{
    display: flex;
    width: 40%;
    
    justify-content: space-around;
    img {
        width: 80%;
        
    
    }
    
}
.titulos{
    text-align: center;
}